@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap");
body {
  background-color: #e7f3ff;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.curriculum {
  font-family: "Mulish", sans-serif;
  color: #021028;
  width: 90%;
  max-width: 70rem;
  margin: 4rem auto;
  text-align: center;
}
.curriculum__heading {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 500;
}
.curriculum__description {
  color: #4e5f72;
  font-size: 1.5rem;
}
.curriculum__spline {
  margin-left: -13rem;
  position: absolute;
  z-index: -1;
}
.curriculum__connector {
  margin-top: 12rem;
  margin-left: -6.8rem;
  position: absolute;
  z-index: -1;
}
.curriculum__specialisation {
  margin-top: 6rem;
}

.heading__underlined-background {
  background-image: url(https://assets.scaler.com/assets/academy/svg/highlighter-8c0b59f762f05e078f2ca0caa5bb38a2a9056113e6164e30e145ec068a5e384d.svg);
  background-position: 0rem 1.8rem;
  background-repeat: no-repeat;
}

.curriculum-table {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.curriculum-table__col {
  flex: 33.3333333333%;
  background-color: #b7dcff;
  color: #5b6f81;
}
.curriculum-table__col--active {
  color: #fff;
  background-color: #0f8cff;
}
.curriculum-table__col--active .curriculum-table__status {
  color: #fff;
}
.curriculum-table__col--active .curriculum-table__status {
  color: #fff;
}
.curriculum-table__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  flex: 33.3333333333%;
  color: #021028;
  background-color: #fff;
}
.curriculum-table__heading--active {
  color: #fff;
  background-color: #0041ca;
}
.curriculum-table__heading--active .curriculum-table__toggler {
  background-color: #17cc10;
}
.curriculum-table__heading--active .curriculum-table__toggler::before {
  margin-left: 0;
}
.curriculum-table__heading--active .curriculum-table__toggler {
  background-color: #17cc10;
}
.curriculum-table__heading--active .curriculum-table__toggler::before {
  margin-left: 0;
}
.curriculum-table__heading--active .curriculum-table__toggler::before {
  margin-left: 0;
}
.curriculum-table__heading img {
  padding: 0 0.5rem;
}
.curriculum-table__toggler {
  width: 3.5rem;
  height: 1rem;
  margin-left: 0.8rem;
  border: 0.1rem solid #bac6d8;
  border-radius: 0.75rem;
  background-color: #d6dee5;
  transition: all 0.1s linear;
}
.curriculum-table__toggler::before {
  content: "";
  width: 1.8rem;
  height: 1rem;
  margin-left: -1.7rem;
  position: absolute;
  border-radius: 0.75rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.32rem 0 rgba(2, 16, 40, 0.48);
  transition: all 0.1s linear;
}
.curriculum-table__content {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.curriculum-table__status {
  margin: 0;
  color: #0041ca;
  font-weight: bold;
}

.curriculum-info {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  text-align: left;
}
.curriculum-info__heading {
  display: flex;
  justify-content: space-between;
}
.curriculum-info__title {
  margin-top: 2rem;
  padding: 0 0.5rem;
  font-weight: bold;
}
.curriculum-info__card {
  padding: 0rem 1rem;
  flex: 33.3333333333%;
  background-color: #fff;
  border-radius: 1rem;
  text-align: left;
  opacity: 1;
  transition: all 0.1s linear;
}
.curriculum-info__card--blue .curriculum-info__serial {
  background-color: #006ada;
}
.curriculum-info__card--blue .curriculum-info__point::before {
  background-color: #006ada;
}
.curriculum-info__card--blue .curriculum-info__duration span {
  background-color: #e7f3ff;
  color: #006ada;
}
.curriculum-info__card--purple .curriculum-info__serial {
  background-color: #9243ce;
}
.curriculum-info__card--purple .curriculum-info__point::before {
  background-color: #9243ce;
}
.curriculum-info__card--purple .curriculum-info__duration span {
  background-color: #e9d9f5;
  color: #7435a4;
}
.curriculum-info__card--orange .curriculum-info__serial {
  background-color: #fc9100;
}
.curriculum-info__card--orange .curriculum-info__point::before {
  background-color: #fc9100;
}
.curriculum-info__card--orange .curriculum-info__duration span {
  background-color: #fee9cc;
  color: #c97400;
}
.curriculum-info__card--inactive {
  opacity: 0.5;
}
.curriculum-info__serial {
  height: 2.5rem;
  min-width: 2rem;
  padding: 0.3rem 0.1rem;
  position: relative;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.curriculum-info__serial::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 0 0 1.15rem 1.15rem;
  border-color: #fff transparent #fff transparent;
  display: block;
  z-index: 1;
}
.curriculum-info__serial::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 1.15rem 1.15rem 0;
  border-color: #fff transparent #fff transparent;
  display: block;
  z-index: 1;
}
.curriculum-info__description {
  padding-left: 1rem;
}
.curriculum-info__point {
  position: relative;
  padding-bottom: 0.8rem;
  list-style-type: none;
  color: #4e5f72;
}
.curriculum-info__point::before {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  content: "";
  left: -1rem;
  top: 0.5rem;
  border-radius: 50%;
  filter: blur(0.05rem);
}
.curriculum-info__duration {
  display: flex;
  align-items: center;
}
.curriculum-info__duration span {
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  filter: blur(0.01rem);
}

.specialisation__serial {
  height: 2.5rem;
  min-width: 2rem;
  padding: 0.3rem 0.1rem;
  position: relative;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.specialisation__serial::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 0 0 1.15rem 1.15rem;
  border-color: #fff transparent #fff transparent;
  display: block;
  z-index: 1;
}
.specialisation__serial::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 1.15rem 1.15rem 0;
  border-color: #fff transparent #fff transparent;
  display: block;
  z-index: 1;
}
.specialisation__table {
  display: flex;
  text-align: left;
}
.specialisation__point {
  position: relative;
  padding-bottom: 0.8rem;
  list-style-type: none;
  color: #4e5f72;
}
.specialisation__point::before {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  content: "";
  left: -1rem;
  top: 0.5rem;
  border-radius: 50%;
  filter: blur(0.05rem);
}
.specialisation__header {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.specialisation__col {
  flex: 50%;
}
.specialisation__col--blue {
  background-color: #b7dcff;
}
.specialisation__col--blue .specialisation__header {
  background-color: #0f8cff;
  border-radius: 0.5rem 0 0 0.5rem;
}
.specialisation__col--blue .specialisation__title img {
  border: 0.2rem solid #87c5ff;
}
.specialisation__col--blue .specialisation__serial {
  background-color: #0f5499;
}
.specialisation__col--blue .specialisation__serial::after, .specialisation__col--blue .specialisation__serial::before {
  border-color: #0f8cff transparent #0f8cff transparent;
}
.specialisation__col--blue .specialisation__duration {
  color: #0f8cff;
}
.specialisation__col--blue .specialisation__point::before {
  background-color: #0f8cff;
}
.specialisation__col--blue .specialisation__triangle {
  border-color: #87c5ff transparent;
  transform: rotateZ(270deg);
}
.specialisation__col--green {
  background-color: #b9efb7;
}
.specialisation__col--green .specialisation__header {
  background-color: #17cc10;
  border-radius: 0 0.5rem 0.5rem 0;
}
.specialisation__col--green .specialisation__title img {
  border: 0.2rem solid #8be587;
}
.specialisation__col--green .specialisation__serial {
  background-color: #1c7a09;
}
.specialisation__col--green .specialisation__serial::after, .specialisation__col--green .specialisation__serial::before {
  border-color: #17cc10 transparent #17cc10 transparent;
}
.specialisation__col--green .specialisation__duration {
  color: #17cc10;
}
.specialisation__point::before {
  background-color: #17cc10;
}
.specialisation__triangle {
  border-color: #8be587 transparent;
  transform: rotateZ(90deg);
}
.specialisation__col--green .specialisation__point::before {
  background-color: #17cc10;
}
.specialisation__col--green .specialisation__triangle {
  border-color: #8be587 transparent;
  transform: rotateZ(90deg);
}
.specialisation__title {
  margin: 1rem;
  display: flex;
  align-items: center;
}
.specialisation__title img {
  margin-left: 1rem;
  border-radius: 50%;
}
.specialisation__heading {
  font-weight: normal;
}
.specialisation__duration {
  margin: 0 0 0 0.23rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.31rem;
  background-color: #e7f3ff;
}
.specialisation__triangle {
  width: 0;
  height: 0;
  position: relative;
  border-style: solid;
  top: 1.4rem;
  border-width: 0 1rem 1.25rem 1rem;
}
.specialisation__or {
  margin-left: -1.1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  position: absolute;
  font-weight: bold;
  background-color: #fff;
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
  .curriculum__spline,
.specialisation__or,
.curriculum-info__duration img,
.curriculum-table__col,
.curriculum-table__toggler,
.specialisation__triangle,
.specialisation__title img,
.specialisation__serial {
    display: none;
  }
  .curriculum-table {
    border-radius: 2rem;
  }
  .curriculum-table__heading {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
  }
  .curriculum-table__col--active {
    display: block;
    background-color: #0041ca;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .curriculum-info {
    display: flex;
    flex-wrap: wrap;
  }
  .curriculum-info__card {
    margin-bottom: 2rem;
    text-align: center;
    flex: 100%;
  }
  .curriculum-info__duration {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .curriculum-info__description {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .curriculum-info__point {
    margin-left: 1rem;
    flex: 40%;
  }
  .specialisation__table {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  .specialisation__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: baseline;
  }
  .specialisation__duration {
    margin: 1rem 0;
  }
  .specialisation__header {
    padding: 0;
  }
  .specialisation__description {
    padding: 0 0.2rem 0 1.5rem;
  }
  .specialisation__col {
    border-radius: 0.5rem;
  }
  .specialisation__col--blue, .specialisation__col--green {
    background-color: #fff;
  }
  .specialisation__col--blue .specialisation__header, .specialisation__col--green .specialisation__header {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .curriculum__specialisation {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=style.css.map */